<aside id="sidebar" class="sidebar">

  <div class="sidebar-header d-md-none">
    <button type="button" class="btn-close ms-auto" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar"></button>
  </div>

  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'veterinary:vet_dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <!-- Vet Appointments -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'veterinary:vet_service_requests' %}">
        <i class="bi bi-calendar-check"></i>
        <span>Vet Appointments</span>
      </a>
    </li>

    <!-- Treatment Records -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'veterinary:treatment_record_list' %}">
        <i class="bi bi-journal-medical"></i>
        <span>Treatment Records</span>
      </a>
    </li>

    <!-- My Schedule -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'veterinary:assigned_requests' %}">
        <i class="bi bi-clock-history"></i>
        <span>My Schedule</span>
      </a>
    </li>

  

    <!-- FAQs -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'support:faq' %}">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li>

  </ul>
</aside>
