<aside id="layout-menu" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:farmer' %}">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
    </li>

    

    <!-- Milk History -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'deliveries:milk_history' %}">
        <i class="fas fa-history"></i>
        <span>Milk History</span>
      </a>
    </li>

    <!-- Payment Statements -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'payments:payment_statements' %}">
        <i class="fas fa-money-check-alt"></i>
        <span>Payment Statements</span>
      </a>
    </li>

    <!-- Services -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'veterinary:request_vet_service' %}"">
        <i class="fas fa-tools"></i>
        <span>Request Service</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'veterinary:farmer_vet_requests' %}"">
        <i class="fas fa-calendar-check"></i>
        <span>Requested Services</span>
      </a>
    </li>

   

    <!-- Support & Feedback -->
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-paper-plane"></i>
        <span>Send Feedback</span>
      </a>
    </li>


    <!-- Information -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'veterinary:about_us' %}">
        <i class="bi bi-info-circle"></i>
        <span>About Us</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar -->
