<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Record Collection</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).on('input', '#id_farmer_id', function() {
    let farmerId = $(this).val();
    if (farmerId) {
        $.get("{% url 'deliveries:get_farmer_name' %}", { farmer_id: farmerId }, function(data) {
            $('#id_farmer_name').val(data.name);
        }).fail(function() {
            $('#id_farmer_name').val('');
        });
    } else {
        $('#id_farmer_name').val('');
    }
});
</script>
