<aside id="layout-menu" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'deliveries:manager_dashboard' %}">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
      </a>
    </li>

   

    <!-- Farmers -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'deliveries:farmers_list' %}">
        <i class="bi bi-person-lines-fill"></i>
        <span>Farmers</span>
      </a>
    </li>

    <!-- Field Agents -->
    <li class="nav-item">
      <a class="nav-link" href="{%url 'deliveries:supervisions' %}">
        <i class="bi bi-people"></i>
        <span>Supervisions</span>
      </a>
    </li>

    <!-- Supervision Logs -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'deliveries:pickup_locations' %}">
        <i class="bi bi-journal-text"></i>
        <span>Pickup Locations</span>
      </a>
    </li>

    <!-- Reports -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'deliveries:milk_collections_report' %}">
        <i class="fas fa-chart-line"></i>
        <span>Field Reports</span>
      </a>
    </li>

  </ul>

</aside><!-- End Sidebar -->
